.card {
  background-color: black;
}
#buttons {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 365px) {
  #t1 {
    /* background-color: red; */
    font-size: small;
  }
  #t2 :link {
    font-size: small;
  }
}

@media only screen and (max-width: 1400px) {
  #card {
    max-width: 16rem;
  }
  #AddtoCart {
    height: 2.5rem;
    width: 5.8rem;
    font-size: small;
    padding: 10px;
  }
  #Description {
    height: 2.5rem;
    width: 5.8rem;
    font-size: small;
    padding: 10px;
  }
  #options {
    display: contents;
  }
  #options .quentity {
    max-height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  #card {
    max-width: 9rem;
    /* height: 18rem; */
  }
  .card-title {
    font-size: medium;
    font-weight: 700;
    margin-bottom: 2px;
    /* background-color: red; */
  }
  #buttons {
    display: block;
    justify-content: center;
  }
  #AddtoCart {
    height: 2rem;
    width: 90%;
    font-size: small;
    margin: 3px 7px;
    padding: 0px;
    align-items: center;
  }
  #Description {
    height: 2rem;
    width: 90%;
    font-size: small;
    margin: 3px 7px;
    padding: 0px;
    align-items: center;
  }
  #card img {
    max-height: 110px;
  }
  #card .card-body {
    padding: 2px;
  }
  #card hr {
    display: none;
  }
  #options {
    display: contents;
  }
  #options .quentity {
    max-height: 30px;
    max-width: 4rem;
  }
  #quentity {
    width: 2.5rem;
  }
  #descId {
    font-size: 12px;
  }
  #descriptionPara {
    font-size: 10px;
  }
  #backDesc {
    /* color: green; */
    font-size: small;
  }
}
#backDesc:hover{
  color: rgb(194, 194, 194);
}
